n8n-cloud/v0.4/BRD_to_SDR_Workflow_JSONOnly.json
{
  "name": "BRD to SDR - JSON Response",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brd-sdr-json",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "brd-sdr-json"
    },
    {
      "parameters": {
        "jsCode": "// Step 1: Extract input data\nconst input = $input.first().json;\nconsole.log('=== Webhook Input ===');\n\nlet clientName, fileData;\n\nif (input.body) {\n  clientName = input.body.clientName;\n  fileData = input.body.fileData;\n} else {\n  clientName = input.clientName;\n  fileData = input.fileData;\n}\n\nconsole.log('Client Name:', clientName);\nconsole.log('File Data length:', fileData ? fileData.length : 0);\n\nif (!clientName || !fileData) {\n  throw new Error(`Missing data: clientName=${!!clientName}, fileData=${!!fileData}`);\n}\n\nreturn [{\n  json: {\n    clientName: clientName,\n    fileData: fileData\n  }\n}];"
      },
      "id": "extract-data",
      "name": "Extract and Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "// Step 2: Convert base64 to binary\nconst data = $input.first().json;\nconst clientName = data.clientName;\nconst base64Data = data.fileData;\n\nconsole.log('=== Converting to Binary ===');\nconsole.log('Base64 length:', base64Data.length);\n\nif (!/^[A-Za-z0-9+/=]+$/.test(base64Data)) {\n  throw new Error('Invalid base64 data');\n}\n\nconst binaryData = {\n  data: base64Data,\n  mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n  fileName: 'uploaded.xlsx'\n};\n\nconsole.log('Binary created successfully');\n\nreturn [{\n  json: {\n    clientName: clientName\n  },\n  binary: {\n    file: binaryData\n  }\n}];"
      },
      "id": "create-binary",
      "name": "Create Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "binaryPropertyName": "file",
        "options": {
          "headerRow": true,
          "range": "B6:E75",
          "sheetName": "Requirements"
        }
      },
      "id": "read-requirements",
      "name": "Read Requirements Sheet",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "// Step 4: Parse requirements\nconst items = $input.all();\nconst clientName = $('Create Binary').first().json.clientName;\n\nconsole.log('=== Processing Requirements ===');\nconsole.log('Client:', clientName);\nconsole.log('Rows received:', items.length);\n\nconst requirements = [];\nconst categoryGroups = {};\n\nitems.forEach((item, index) => {\n  const reqId = item.json['Requirement ID'];\n  const category = item.json['Category'];\n  const businessReq = item.json['Business Requirement'];\n  const notes = item.json['Additional Notes'];\n  \n  if (!category && !businessReq) return;\n  \n  const requirement = {\n    id: reqId || `REQ-${index + 1}`,\n    category: category || 'General',\n    requirement: businessReq || '',\n    notes: notes || ''\n  };\n  \n  requirements.push(requirement);\n  \n  const cat = requirement.category;\n  if (!categoryGroups[cat]) {\n    categoryGroups[cat] = [];\n  }\n  categoryGroups[cat].push(requirement);\n});\n\nlet formattedRequirements = '# BUSINESS REQUIREMENTS DOCUMENT\\n\\n';\nformattedRequirements += `**Client:** ${clientName}\\n`;\nformattedRequirements += `**Total Requirements:** ${requirements.length}\\n\\n`;\nformattedRequirements += '## REQUIREMENTS BY CATEGORY\\n\\n';\n\nObject.keys(categoryGroups).forEach(category => {\n  const reqs = categoryGroups[category];\n  formattedRequirements += `### ${category} (${reqs.length} requirements)\\n\\n`;\n  \n  reqs.forEach(req => {\n    if (req.id) formattedRequirements += `**[${req.id}]**\\n`;\n    if (req.requirement) formattedRequirements += `- **Requirement:** ${req.requirement}\\n`;\n    if (req.notes) formattedRequirements += `- **Notes:** ${req.notes}\\n`;\n    formattedRequirements += '\\n';\n  });\n});\n\nconsole.log('Requirements parsed:', requirements.length);\n\nreturn [{\n  json: {\n    clientName: clientName,\n    totalRequirements: requirements.length,\n    categories: Object.keys(categoryGroups),\n    requirements: requirements,\n    formattedRequirements: formattedRequirements\n  }\n}];"
      },
      "id": "parse-requirements",
      "name": "Parse Requirements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "name": "get_requirements_data",
        "description": "Retrieves the complete BRD requirements data",
        "jsCode": "const parseNode = $('Parse Requirements').first();\nif (!parseNode?.json) return { error: 'No requirements data' };\nreturn parseNode.json.formattedRequirements;"
      },
      "id": "tool-requirements",
      "name": "Tool: Get Requirements",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [1440, 580]
    },
    {
      "parameters": {
        "name": "get_sdr_guide",
        "description": "Retrieves SDR conversion guidelines",
        "jsCode": "return `# SDR CONVERSION GUIDELINES\n\n## Variable Types\n\n### eVars: Persistent values (Campaign ID, User Type)\n### Props: Page-level data (Page Name, Device Type)\n### Events: Countable actions (Purchase, Form Submit)\n\n## Mandatory\n\n**eVars:** eVar1 (Pagename), eVar2 (Site Section), eVar3 (ECID)\n**Props:** prop1 (Pagename), prop2 (Site Section), prop3 (ECID)\n**Events:** event1 (Custom Page View)\n\n## Rules\n- MECE Principle\n- Limits: 250 eVars, 75 Props, 1000 Events\n- Target: 30-50 eVars, 20-30 Props, 15-25 Events\n`;"
      },
      "id": "tool-sdr-guide",
      "name": "Tool: Get SDR Guide",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [1440, 700]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "openai-model",
      "name": "OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1440, 460],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert Adobe Analytics consultant.\n\nAnalyze the BRD and generate comprehensive SDR mapping requirements to Adobe Analytics variables.\n\n**Instructions:**\n1. Use `get_requirements_data` to retrieve BRD\n2. Use `get_sdr_guide` for conversion rules\n3. Apply MECE principle\n4. Include mandatory variables (eVar1-3, prop1-3, event1)\n5. Generate 30-50 eVars, 20-30 Props, 15-25 Events\n\n**Output ONLY valid JSON:**\n\n```json\n{\n  \"evars\": [\n    {\n      \"Requirement ID\": \"REQ-001\",\n      \"Analytics Variable\": \"eVar1\",\n      \"Business Name\": \"Pagename\",\n      \"Business Description\": \"Name of the page\",\n      \"Expected Values\": \"Home, Product, Cart\",\n      \"Implementation Trigger\": \"All page loads\",\n      \"Example Value\": \"Home\",\n      \"Additional Notes\": \"Mandatory\"\n    }\n  ],\n  \"props\": [...],\n  \"events\": [...]\n}\n```\n\n**CRITICAL**: Output ONLY JSON. No markdown, no explanation.\n\nClient: {{ $('Parse Requirements').item.json.clientName }}\nTotal Requirements: {{ $('Parse Requirements').item.json.totalRequirements }}\n\nBegin.",
        "hasOutputParser": true
      },
      "id": "sdr-agent",
      "name": "SDR Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst clientName = $('Parse Requirements').first().json.clientName;\n\nconsole.log('=== Parsing SDR Output ===');\n\nlet rawOutput = '';\nif (items[0]?.json?.output) {\n  rawOutput = items[0].json.output;\n} else if (items[0]?.json?.text) {\n  rawOutput = items[0].json.text;\n} else {\n  rawOutput = JSON.stringify(items[0].json);\n}\n\nconsole.log('Raw output length:', rawOutput.length);\n\nlet sdrData;\ntry {\n  const jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    sdrData = JSON.parse(jsonMatch[0]);\n  } else {\n    sdrData = JSON.parse(rawOutput);\n  }\n} catch (error) {\n  console.error('Parse error:', error);\n  throw new Error(`Failed to parse SDR output`);\n}\n\nif (!sdrData.evars || !sdrData.props || !sdrData.events) {\n  throw new Error('SDR missing required fields');\n}\n\nconsole.log('Parsed:', sdrData.evars.length, 'evars,', sdrData.props.length, 'props,', sdrData.events.length, 'events');\n\nreturn [{\n  json: {\n    clientName: clientName,\n    sdrData: sdrData,\n    stats: {\n      evars: sdrData.evars.length,\n      props: sdrData.props.length,\n      events: sdrData.events.length\n    }\n  }\n}];"
      },
      "id": "parse-sdr-output",
      "name": "Parse SDR Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "jsCode": "// Return complete SDR as JSON (no Excel generation)\nconst data = $input.first().json;\nconst clientName = data.clientName;\nconst sdrData = data.sdrData;\nconst stats = data.stats;\n\nconsole.log('=== SDR Generation Complete ===');\nconsole.log('Client:', clientName);\nconsole.log('Stats:', stats);\n\nconst timestamp = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    success: true,\n    message: 'SDR generation complete',\n    clientName: clientName,\n    timestamp: timestamp,\n    stats: stats,\n    sdr: sdrData,\n    note: 'Download the original Excel file from n8n Executions, or use the JSON data below to populate your spreadsheet'\n  }\n}];"
      },
      "id": "final-response",
      "name": "Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Extract and Validate", "type": "main", "index": 0}]]
    },
    "Extract and Validate": {
      "main": [[{"node": "Create Binary", "type": "main", "index": 0}]]
    },
    "Create Binary": {
      "main": [[{"node": "Read Requirements Sheet", "type": "main", "index": 0}]]
    },
    "Read Requirements Sheet": {
      "main": [[{"node": "Parse Requirements", "type": "main", "index": 0}]]
    },
    "Parse Requirements": {
      "main": [[{"node": "SDR Agent", "type": "main", "index": 0}]]
    },
    "Tool: Get Requirements": {
      "ai_tool": [[{"node": "SDR Agent", "type": "ai_tool", "index": 0}]]
    },
    "Tool: Get SDR Guide": {
      "ai_tool": [[{"node": "SDR Agent", "type": "ai_tool", "index": 0}]]
    },
    "OpenAI GPT-4o": {
      "ai_languageModel": [[{"node": "SDR Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "SDR Agent": {
      "main": [[{"node": "Parse SDR Output", "type": "main", "index": 0}]]
    },
    "Parse SDR Output": {
      "main": [[{"node": "Final Response", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-14T00:00:00.000Z",
  "versionId": "1"
}
